.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#new-numbers{
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffe200;
  color: #506d40;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
